@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cream: #fdf0d5;
  --navy: #003049;
  --blue: #669bbc;
  --red: #c1121f;
  --maroon: #780000;
}

body {
  color: var(--navy);
  background: var(--cream);
}

